/* fonts */

/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald-v49-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v49-cyrillic_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box; /*Применяется для изменения алгоритма расчёта ширины и высоты элемента.*/
}



/* body */

body {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;

  color: #060D10;
}

.container {
  width: 1278px;  /* ширина контента по figma */
  margin: 0 auto; /* убираем внешние границы страницы сверху и ставим автомат для лево\право */

}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  cursor: pointer;
}


.btn-lead {
  min-width: 505px;
  padding: 17px;
  border: 3px solid #060D10;
  border-radius: 4px;
}



/* header */

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: #66D1FF;
  padding: 31px 0;
}

.btn-header {
  font-size: 24px;
  line-height: 29px;
  min-width: 276px;
  padding: 6px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}


.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}



.menu .number {
  font-size: 28px;
  line-height: 34px;

  text-decoration: none;
}

/* promo */
h1 {
  font-family: 'Oswald', 'sans-serif';
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
}
.promo p {
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
}

.promo {
  padding: 260px 0; /* значение полей вокруг содержимого элемента. */
  text-align: center; /*горизонтальное выравнивание текста*/
  background: linear-gradient(0deg, rgba(6, 13, 16, 0.25), rgba(6, 13, 16, 0.25)), url(../images/bg-promo.jpg);
  background-size: cover; /* масштабирует фоновое изображение, согласно заданным размерам. */
  background-repeat: no-repeat; /* устанавливает одно фоновое изображение в элементе без его повторений */
  background-position: center;  /*начальное положение фонового изображения */
}

/* services */
h2 {
  font-family: 'Oswald';
  font-size: 48px;
  line-height: 80px;

  text-transform:uppercase
}
h3 {
  font-family: 'Oswald';
  font-size: 32px;
  line-height: 53px;

  text-transform: uppercase;
}
.services-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
}

.services-wrap {
  display: flex;
  text-align: center;
}

.services-fade {
  align-self: center;
}

/* lead block */



/* footer */

.footer {
  background-color: #060D10;
}

.text-join {
  font-size: 20px;
  line-height: 167%;

  color: #FFFFFF;
}

.text-footer {
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;
}
